{% extends 'home.html' %}
{% load static %}

{% block common %}
    {% include 'main_menu.html' %}


    <h2 style="text-align: center">Admin Login</h2><br><br>

    <form action="{% url 'adlog' %}" method="post">
    {% csrf_token %}
    <table align="center">
    
    <tr>
        <th rowspan="4">
            <img src="{% static 'images/Admin.png' %}"width="150px" height="150px">
        </th>
    </tr>
    <tr>
        <th>
            <input type="text" placeholder="Username" required name="a1">
        </th>
    </tr>

    <tr>
        <th>
            <input type="password" placeholder="Password" required name="a2">
        </th>
    </tr>

    <tr align="center">
        <th><button type="submit" class="btn btn-success">Login</button></th>
    </tr>
    </table>
    </form>

{% endblock %}